html, body{
  background-color:white;
  width: auto;
  float: center;
  margin-top: 10px;
  font-family: monospace;
}
h1 {
  font-size: 48px;
  text-align: center;
  font-weight: bold;
  padding-left: 20px;
}

h2 {
  font-size: 20;
  text-align: center;
  font-weight: lighter;
  padding-left: 20px;
}

h3{
  font-size: 20;
  text-align: center;
  font-weight: lighter;
  padding-left: 20px;
}

h4 {
  font-size: 30;
  text-align: center;;
  font-weight: lighter;
  padding-left: 20px;
}

a:link{
  color: #272e38;
  outline: 1px solid;
    outline-color: #272e38;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active {
  color: #ffffff;
  background-color: #042860;
}

a.visited{
  color: #80000b;
}

hr.style2 {
  border-top: 1px single #8c8b8b;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #00828f;
  text-align: center;
}
