html, body{
  background-image: url("d_up.png");
  text-align: center;
  margin: 0 auto;
  width: auto;
  font-family: monospace;
}
h1 {
  font-size: 48px;
  text-align: center;
  font-weight: bold;
  padding-left: 20px;
}

h2 {
  font-size: 20px;
  text-align: center;
  font-weight: lighter;
  padding-left: 20px;
}

h4 {
  font-size: 30px;
  text-align: center;;
  font-weight: bold;
  padding-left: 20px;
}

a:link{
  color: #272e38;
  outline: 1px solid;
    outline-color: #272e38;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active {
  color: #ffffff;
  background-color: #042860;
}

.visited{
  color: #80000b;
}

.style2 {
  border-top: 1px;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #00828f;
  text-align: center;
}
.Aligner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Aligner-item {
  max-width: 50%;
}

.Aligner-item--top {
  align-self: flex-start;
}

.Aligner-item--bottom {
  align-self: flex-end;
}
