@*
 * This template takes a single argument, a String containing a
 * message to display.
  <!--recieves the message string from the HomeController-->
 *@
@(message: String)

@*
 * Call the `main` template with two arguments. The first
 * argument is a `String` with the title of the page, the second
 * argument is an `Html` object containing the body of the page.
 *@
@main("Home") {

    @*
     * Get an `Html` object by calling the built-in Play welcome
     * template and passing a `String` message.
     *@

     <!--calling the welcome template which is displayed when routing default-->
     <!--this displays the default PlayFramework page-->
    <!--@play20.welcome(message, style = "Scala")-->

    <!--displaying the message passed on from the HomeController-->
    <!--@message-->

<!DOCTYPE html>
<html>
  <body>
    <h1>@message</h1>
    <h2>
      <p>Here we display some video game statistics</p>
    </h2>
    <br> <hr class="style1" > </br>
    <h3>
      <a href="/">EU Sales</a>
      <a href="/na_sales">NA Sales</a>
      <a href="/">JP Sales</a>
      <a href="/">Other Sales</a>
      <a href="/">Global Sales</a>
    </h3>
      <br> <hr class="style1" > </br>
  </body>
</hmtl>
  }
