
@(message: String,content: Array[Double])


<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.ico")">
        <script src="@routes.Assets.versioned("javascripts/hello.js")" type="text/javascript"></script>
        <script type="text/javascript">
            nv.addGraph(function() {
              var chart = nv.models.discreteBarChart()
                  .x(function(d) { return d.label })    //Specify the data accessors.
                  .y(function(d) { return d.value })
                  .staggerLabels(true)    //Too many bars and not enough room? Try staggering labels.
                  .tooltips(false)        //Don't show tooltips
                  .showValues(true)       //...instead, show the bar value right on top of each bar.
                  .transitionDuration(350)
                  ;
            
              d3.select('#chart svg')
                  .datum(exampleData())
                  .call(chart);
            
              nv.utils.windowResize(chart.update);
            
              return chart;
            });
            
            //Each bar represents a single discrete quantity.
            function exampleData() {
             return  [ 
                {
                  key: "Cumulative Return",
                  values: [
                    { 
                      "label" : "A Label" ,
                      "value" : -29.765957771107
                    } , 
                    { 
                      "label" : "B Label" , 
                      "value" : 0
                    } , 
                    { 
                      "label" : "C Label" , 
                      "value" : 32.807804682612
                    } , 
                    { 
                      "label" : "D Label" , 
                      "value" : 196.45946739256
                    } , 
                    { 
                      "label" : "E Label" ,
                      "value" : 0.19434030906893
                    } , 
                    { 
                      "label" : "F Label" , 
                      "value" : -98.079782601442
                    } , 
                    { 
                      "label" : "G Label" , 
                      "value" : -13.925743130903
                    } , 
                    { 
                      "label" : "H Label" , 
                      "value" : -5.1387322875705
                    }
                  ]
                }
              ]
            
            }

        </script>
        
        
        <script>
  
            
              
         </script>
    </head>
  <body onload="javascript:alterText()">
  
    <h1>@message</h1>
    <a id="value"></a>
    <h2>
      <p>Click on any link to go to the corresponding dataset</p>
    </h2>
    <br> <hr class="style1" > </br>
    <h3>
      <a href="/eu_sales">EU Sales</a>
      <a href="/na_sales">NA Sales</a>
      <a href="/jp_sales">JP Sales</a>
      <a href="/other_sales">Other Sales</a>
      <a href="/global_sales">Global Sales</a>
      <br><p><a href="/sales">Link to JSON dataset</a></p></br>
    </h3>
      <br> <hr class="style1" > </br>
  </body>
</html>
